name: Continuous Integration

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  continuos-integration:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4 

      - name: Setup Node.js
        uses: actions/setup-node@v4 
        with:
          node-version: 22
          cache: 'npm'

      - name: Install Dependencies
        run: npm ci 

      - name: Run Component Tests
        uses: cypress-io/github-action@v6
        with:
          component: true
          browser: chrome 
          env: IS_CI=true

      - name: Run Build
        run: npm run build